@import './extend.scss';
.btn {
  border-radius: 5px;
  position: relative;
  border:0;
  font-size:16px;
  font-weight: bold;
  min-height: 45px;
  &-orange{
    color:white;
    background-color:$color_orange;
  }
  &-green{
    color:white;
    background-color:#00b360;
  }
  &:active{
    top:1px;
  }
}
