body,
html {
  margin: 0;
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
label,
span,
div,
input,
button,
textarea,
select,
ul {
  outline: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

input,textarea,select{
  background:initial;
}
#app {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 100px auto;
  max-width: 800px;
}

.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.items-center {
    align-items: center;
  }
}

.control {
  width: 100%;
  border: 0;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: bold;
  color:#666;
}

.mb-10 {
  margin-bottom: 10px;
}

/** Game Over **/
.gameover {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  &-modal {
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 250px;
    transform: translate(-50%, -50%);
    &__context {
      background-color: white;
      padding: 10px;
      .user-score {
        padding: 10px 0 20px 0;
        display: flex;
        justify-content: space-between;;
      }
    }
  }

  .modal {
    &-title {
      padding: 10px 20px;
      background-color: $color_blue;
      font-size: 16px;
      font-weight: bold;
      color: white;
      text-align: center;
    }
    display: flex;
    flex-direction: column;

    &-buttons {
      display: flex;
      button {
        margin: 0px 2px;
        flex: 1;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.passive{
  pointer-events: none !important;
  opacity: .5;
}