<template>
  <div class="gameover" v-if="$store.state.gameover">
    <div class="gameover-modal">
      <h2 class="modal-title">GAME OVER</h2>
      <div class="gameover-modal__context">
        <div class="user-score">
          <label>Your Score</label>
          <label>
            <b>{{$store.state.user.score}}</b>
          </label>
        </div>
        <div class="modal-buttons">
          <button class="btn btn-orange" @click="$store.dispatch('startGame')">Try Again</button>
          <button class="btn btn-green" @click="$store.dispatch('resetGame')">New Game</button>
        </div>
      </div>
    </div>
  </div>
</template>


<!--
Gameover Style Sheets
@look src/components/gameover/style.scss
-->
<style lang="scss">
@import "@/components/gameover/style";
</style>