@import '../../sass/extend.scss';
.mine-item{
  padding:10px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  button{
    transition: background-color .3s linear;
    width:100%;
    height:100%;
    border-radius: 5px;
    background-color:$color_purple;
    color:white;
    border:0;
    box-shadow: 0 0 1px 1px #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &.passive{
      opacity: .6;
      pointer-events: none;
    }
    &:hover{
      background-color:rgba(0,0,0,.2);
    }
    
    &.mine{
      background:rgb(255, 0, 0) url('../../../public/images/mine.svg') no-repeat center center;
      background-size:70% 70%;
    }
    label{
      position: absolute;
      margin:auto;
      font-size: 20px;
      font-weight: bold;
      pointer-events: none;
    }
  }
}