<template>
  <li class="mine-item">
    <button
      :class="{
        'mine':data.status && data.isMine,
        'passive':data.status && !data.isMine && data.mineCount == 0
    }"
      @click="show(data)"
    >
      <label v-if="data.status && !data.isMine && data.mineCount > 0">{{data.mineCount}}</label>
    </button>
  </li>
</template>


<!--
Mine Item Controller
@look src/components/mine-item/controller.js
-->
<script>
export { default } from "@/components/mine-item/controller";
</script>


<!--
Mine Item Style Sheets
@look src/components/mine-item/style.scss
-->
<style lang="scss">
@import "@/components/mine-item/style";
</style>