<template>
  <div class="container">
    <!-- MINE HEADER -->
    <Header />
    <div class="mine-context">
      <!-- MINE CONTEXT -->
      <div class="mine-table">
        <Mines />
      </div>
      <!-- USER LIST -->
      <div class="user-list">
        <h2 class="header">
          <label>Top 10 Score</label>
        </h2>
        <ul>
          <li v-for="(item) in $store.getters.getScores" :key="item">
            <label>{{item.score}} Puan</label>
            <label>{{item.name}}</label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>


<!--
Main Controller
@look src/components/controller.js
-->
<script>
export { default } from "@/components/controller";
</script>


<!--
Main Style Sheets
@look src/components/style.scss
-->
<style lang="scss">
@import "@/components/style";
</style>