@import "../sass/extend.scss";
.mine-context {
  display: flex;
  margin: 20px 0;
  .mine-table {
    flex: 1;
    margin-right: 5px;
  }
  .user-list {
    margin-left: 5px;
    flex: 1;
    h2.header {
      background-color: #4ab9e7;
      color: white;
      padding: 10px 20px;
      border-radius: 15px 15px 0 0;
    }
    ul {
      height: calc(100% - 51px);
      background-color: #eee;
      li {
        display: flex;
        padding: 8px 10px;
        justify-content: space-between;
        label {
          &:last-child {
            font-weight: bold;
          }
        }
      }
    }
  }
}
