<template>
  <div id="app">
    <Main />
    <GameOver />
  </div>
</template>

<!--
App Controller
-->
<script>
import Main from './components/main.vue';
import GameOver from './components/gameover/view.vue';
export default {
  name: 'App',
  components: {
    Main,
    GameOver
  }
}
</script>

<!--
App Style Sheet
-->
<style lang="sass">
@import "@/sass/index";
</style>
